.hero-container {
  display: flex;
  height: 60vh;
  width: 100vw;
  justify-content: center;
}

.hero-text {
  width: 80%;
  height: auto;
  margin: auto;
  display: flex;
  flex-direction: column;
  text-align: center;

  h1 {
    font-size: 4rem;
    letter-spacing: 0.375rem;
  }

  p {
    font-size: 2rem;
  }
}
