.projects-container {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.projects-box {
  width: 60%;
  height: auto;
  margin: auto;
  border: 1px solid white;
}

@import "~react-image-gallery/styles/css/image-gallery.css";