@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Groovin";
  src: url('/fonts/groovin.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* html {
  background: linear-gradient(180deg,#e6fff4,#e0eaff,#f6e7ff);
  background-repeat: repeat-y;
} */

/* HAMBURGER MENU */

.hamburger {
  cursor: pointer;
  width: fit-content;
  height: fit-content;
  transition: all 0.25s;
}
  
.hamburger__top-bun,
.hamburger__bottom-bun {
  content: '';
  position: absolute;
  width: 30px;
  height: 4px;
  background: rgb(255, 255, 255);
  transform: rotate(0);
  transition: all 0.3s;
}

.hamburger:hover [class*="-bun"] {
  background: rgb(255, 255, 255);
}

.hamburger__top-bun {
  transform: translateY(-20px)
  translateX(-12px);
}

.hamburger__bottom-bun {
  transform: translateY(-10px)
  translateX(-12px);
}

.open {
  transform: rotate(90deg);
  width: fit-content;
  height: fit-content;
}

.open .hamburger__top-bun {
  transform:
    rotate(45deg)
    /* translateY(0px); */
}

.open .hamburger__bottom-bun {
  transform:
    rotate(-45deg)
    /* translateY(0px); */
}